<% @toolbar = "Custom toolbar title" %>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gloriosa ostentatio in constituendo summo bono. Hoc loco tenere se Triarius.
</p>
<p>
	<b>Find me in app/views/page/home.html.erb</b>
</p>